<header class="header">
  <a href="https://adalab.es." class="ico-menu ico">
    <img src="./assets/images/ico-menu.svg" alt="menu hamburguesa" />
  </a>
</header>
<section id="hero" class="hero">
  <h1 class="title">comienzos compartidos</h1>
  <p class="text-header">
    Todo lo que necesitan para volver al cole con ilusión
  </p>
  <a class="ico" href="./index.html#pics_main">
    <img
      class="ico-scroll-down"
      src="./assets/images/ico-scroll-down.svg"
      alt="flecha hacia abajo"
    />
  </a>
</section>
