<section class="pic_section">
    <span class="span_pics">¡Prepáralos con tus marcas favoritas!</span>
    <h2 class="title_pics_main">vuelta al cole</h2>
    <div><img class="image" src="./assets/images/lpbts-mod05-img01-desk.webp" alt="niña con mochila puma">
        <h3 class="h3">mochilas escolares</h3>
    </img></div>
    <div><img class="image" src="./assets/images/lpbts-mod05-img04-mob.webp" alt="niño con estuche">
        <h3 class="h3">estuches</h3>
    </img></div>
    <div><img class="image" src="./assets/images/lpbts-mod05-img03-mob.webp" alt="niña con mochila nike">
        <h3 class="h3">bolsas de deporte</h3>
    </img></div>
    <a class="button_pics" href="#">
        <button class="button">empezar ahora</button>
      </a>
  </section>