.footer {
  background-color: $color-footer;
  font-family: $font-main;
  bottom: 0;
  text-align: center;

  .arrow-link {
    background-color: white;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
    }

    @media (min-width: 768px) {
      width: 4.5rem;
      height: 4.5rem;
    }

    .arrow {
      width: 1.8rem;
      margin: 10px;

      @media (min-width: 768px) {
        width: 2.2rem;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-evenly;
      padding-bottom: 4rem;
    }

    .name_list,
    .rrss {
      margin-top: 2rem;

      @media (min-width: 768px) {
        margin-top: 0;
      }
    }

    .main__list {
      color: white;
      text-decoration: none;
      list-style: none;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.6rem;

      @media (min-width: 768px) {
        text-align: left;
      }

      .list {
        padding-top: 1rem;
        line-height: 25px;
      }
    }

    .copy {
      margin: 4rem;
      text-align: center;
      font-size: 1.5rem;
      color: white;
      font-family: $font-main;
      line-height: 30px;

      @media (min-width: 768px) {
        order: -1;
        margin: 1rem 3rem;
        width: 7rem;
        text-align: left;
      }
    }

    .copy::first-line {
      word-spacing: 100vw;
    }

    .cuore {
      color: #6c933e;
      font-size: 1.5rem;
    }
  }
}
