.ico-menu {
  background-color: $green;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  padding: 1.5rem;
}

.hero {
  background-image: url(../images/cover.jpeg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .title {
    color: $white;
    text-transform: uppercase;
    font-family: $font-title;
    font-size: 4rem;
    text-align: center;
    line-height: 70px;

    @media (min-width: 768px) {
      font-size: 7.5rem;
      line-height: 100px;
    }

    @media (min-width: 1200px) {
      word-spacing: 100vw;
      font-size: 9rem;
      line-height: 120px;
    }

    .title::first-line {
      word-spacing: 100vw;
    }
  }

  .text-header {
    color: $white;
    font-family: $font-main;
    font-size: 2rem;
    line-height: 30px;
    margin: 2rem 9rem;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 2.5rem;
      padding: 0 12rem;
      margin: 0 9rem 2rem 9rem;
    }

    @media (min-width: 1200px) {
      padding-bottom: 3rem;
      font-size: 3rem;
    }
  }

  .ico {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;

    @media (min-width: 768px) {
      margin-bottom: 3rem;
    }

    @media (min-width: 1200px) {
      margin-bottom: 5rem;
    }
  }

  .ico-scroll-down {
    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 10px;

    @media (min-width: 768px) {
      width: 4.5rem;
      height: 4.5rem;
      padding: 1.1rem;
    }
  }
}
