.ico-menu {
  background-color: $green;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  padding: 1.5rem;

}

.container_main {
  background-image: url(../images/cover.jpeg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .h1{
    color: $white;
    text-transform: uppercase;
    font-family: $font-title;
    font-size: 4rem;
    margin: 3rem;
    text-align: center;
    line-height: 70px;
    
    .h1::first-line{
      word-spacing: 100vw;
    }

  }

  .text-header{
    color: $white;
    font-family: $font-main;
    font-size: 2rem;
    line-height: 30px;
    margin: 2rem 9rem;
    text-align: center;
  }

  .ico{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;

  }

  .ico-scroll-down{
    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 10px;

  }
}

/*debe estar maquetado con Flexbox y debe ocupar
el alto de la ventana del navegador*/
