/*los 3 elementos del listado deben estar maquetados con CSS Grid en
todos los tamaños de pantalla en los que se necesite*/

.pic_section {
  background-color: $color-main;
  display: grid;
  grid-row: 3;
  justify-items: center;
  padding: 2rem;

 /* @media (min-width: 768px){

    FALTA ESTO

  }*/

  .span_pics {
    color: #626262;
    font-family: $font-title;
    font-size: 1.2rem;
    text-align: center;
  }

  .title_pics_main {
    font-family: $font-title;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }

  .pic_div{
    margin: 1.5rem;

    .image {
      width: 130px;
      /*height: 120;*/
      border-radius: 50%;
      box-shadow: 0  4px 4px 0  rgba(0, 0, 0, 0.25);
    }
   
    .h3{
      font-size: $font-title;
      font-size: 1.6rem;
      text-align: center;
      margin-top: 0.5rem;

    }
    
    .h3::first-letter{
      text-transform: uppercase;
    }

  }

  .button {
    margin-bottom:2rem;


    .button_pics {
      background-color: $green;
      color: white;
      padding: 1.5rem 2.5rem;
      font-size: 2rem;
      font-family: $font-main;
      border-style: none;
      line-height: 20px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
}
  }
}
